---
layout: default
title: Produtos
produtos: true
---

<section id="content">
    <h2>Product List</h2>
    <ul>
        {% for post in site.posts %}
        <li>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <img src="{{ site.url }}/assets/images/{{ post.image }}" width="150" />
            
            <div class="price"> 
			{% if post.descount == null %}
            	<span>R$ {{ post.price }}</span>
			{% else %}
            	<span>De: R$ {{ post.price }} por <strike>R$ {{ post.descount }}</strike></span>
			{% endif %}
			</div> <!-- /price -->
			
            <p>{{ post.excerpt }}</p>
        </li>
        {% endfor %}
    </ul>
    
</section>