{% include meta.html %}

<body>

	{% include header.html %}
		
		<section id="content">
			<h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
			<img src="{{ site.url }}/assets/images/{{ page.image }}" alt="{{ page.title }}" /> 
			<h4>
				<strong>Categoria:</strong> {{ page.categories }} <br />
				<strong>Tags:</strong> {{ page.tags }}
			</h4>

			{{ content }}
			
			<div id="pagination">
				{% if page.prev_section != null %}
					<a href="{{ site.url }}/produtos/{{ page.prev_section }}" class="prev">Back</a>
				{% else %}
					<span class="prev disabled">Back</span>
				{% endif %}
					
				{% if page.next_section != null %}
					<a href="{{ site.url }}/produtos/{{ page.next_section }}" class="next">Next</a>
				{% else %}
					<span class="next disabled">Next</span>
				{% endif %}
			</div> <!-- /pagination -->
			
		</section>

	{% include footer.html %}

</body>
</html>
